/* Дизайн фона сайта */
:root {
    --background: #0d1218;
    --NamePage: "Kino";
    --VerPage: "Beta";
}
/* Дизайн шапки сайта */
:root {
    --PageColor: #0d1218;
    --background: #0d1218;
    --header: #151c24;
    --Shadow: #0e141a;   
    --BoxBorder: #374758;
}
/* Полоса прокрутки */
:root {
    --PageColor: #0d1218;
    --background: #0d1218;
    --header: #151c24;
    --Shadow: #0e141a;   
    --BoxBorder: #374758;
}
/* Секции блоков */
:root {
    --PageColor: #0d1218;
    --background: #0d1218;
    --header: #151c24;
    --Shadow: #0e141a;   
    --BoxBorder: #374758;
}
/* Видео блок */
:root {
    --PageColor: #0d1218;
    --background: #0d1218;
    --header: #151c24;
    --Shadow: #0e141a;   
    --BoxBorder: #374758;
}
/* Анимации */
:root {
    --PageColor: #0d1218;
    --background: #0d1218;
    --header: #151c24;
    --Shadow: #0e141a;   
    --BoxBorder: #374758;
}