*:focus {
  outline: none;
}

body {
  font-family: Helvetica, Arial;
  margin: 0;
  background-color: #000000;
}

#app-cover {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 430px;
  height: 100px;
  margin: -4px auto;
}

#bg-artwork {
  position: fixed;
  top: -30px;
  right: -30px;
  bottom: -30px;
  left: -30px;
  background-image: url("https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  filter: blur(40px);
  -webkit-filter: blur(40px);
  z-index: 1;
}

#bg-layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  opacity: 0.51;
  z-index: 2;
}

#player {
  position: relative;
  height: 80%;
  z-index: 3;
}

#player-track {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 166px;
  padding: 13px 0px 0px 13px;
  background-color: #1b1c1c;
  border-radius: 10px;
  transition: 0.5s ease top;
  z-index: 1;
}

#player-track.active {
  top: -80px;
  box-shadow: 0 0px 10px 0px #000000;
}

#album-name {
  color: #f4f5ff;
  font-size: 20px;
  transition: 0.3s ease top;
  font-weight: bold;
}

#track-name {
  color: #ff6f6f;
  font-size: 13px;
  font-weight: 900;
  margin: 2px 0 13px 0;
}

#player-content {
  position: relative;
  height: 100%;
  background-color: rgb(24, 24, 24);
  box-shadow: 0 0px 10px 0px #000000;
  border-radius: 10px;
  z-index: 2;
}

#album-art {
  position: absolute;
  top: -40px;
  width: 115px;
  left: -15px;
  height: 115px;
  margin-left: 40px;
  transform: rotateZ(0);
  transition: 0.3s ease all;
  box-shadow: 0 0 0 10px #181818, 0 0px 20px 0px #181818;
  background: #181818;
  border-radius: 10px;
  transform: scale(0.8);
  overflow: hidden;
}

#album-art.active {
  transform: scale(1.0);
  top: -75px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 0 4px #ffffff, 0 0px 20px 0px #ffffff;
}

#album-art img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

#album-art img.active {
  opacity: 1;
  z-index: 1;
}


@-webkit-keyframes rotateAlbumArt {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes rotateAlbumArt {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

#buffer-box {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: 20px;
  color: #ffffff;
  font-size: 18px;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  padding: 6px;
  margin: -14px auto 0 auto;
  background-color: rgba(255, 0, 0, 0.479);
  opacity: 0;
  z-index: 2;
}

#album-art img,
#buffer-box {
  transition: 0.2s linear all;
}

#album-art.buffering img {
  opacity: 0.0;
}

#album-art.buffering img.active {
  opacity: 1.0;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

#album-art.buffering #buffer-box {
  opacity: 1;
}

#player-controls {
  width: 250px;
  height: 100%;
  margin: 0 5px 0 141px;
  float: right;
  overflow: hidden;
}

.control {
  width: 33.333%;
  float: left;
  padding: 12px 0;
}

.button {
  width: 26px;
  height: 26px;
  padding: 15px 25px;
  background-color: #282828;
  border-radius: 5px;
  cursor: pointer;
}

.button i {
  display: block;
  color: #64ffc3;
  font-size: 27px;
  text-align: center;
  line-height: 1;
}

.button,
.button i {
  transition: 0.3s ease all;
}

.button:hover {
  background-color: #006151;
}

.button:hover i {
  color: rgb(255, 255, 255);
  transform: scale(1.2);
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}
 
