@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

@font-face {
    font-family: onest;
    font-style: normal;
    font-weight: 500;
    src: local('Onest'), url(https://fonts.cdnfonts.com/s/107279/Onest[wght].woff) format('woff')
}

html{
    width: 10000px;
}

.addbutton {
    /* position: absolute; */
    top: 90px;
    left: 5px;
    /* width: 1000px; */
    z-index: -1000;
}

@keyframes ani {
    0%   {left: -120px}
    100% {left: -2px}
}
@keyframes buff {
    0%   {opacity: 0;}
    30%   {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes bg {
    0%   {opacity: .0; transform: scale(2);}
    100% {opacity: .3;}
}
*:focus {
    outline: none;
}

body {
    font-family: Helvetica, Arial;
    margin: 0;
    background-color: #000000;
}

.buff::after{
    font-family: Onest, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    content: 'Offline';
    font-size: 10px;
    padding: 0px 5px;
    top: -13px;
    left: 3px;
    color: white;
    border-radius: 2px;
    background: #802936 !important;
    /* outline: 1px solid #; */
    outline: 1px solid #00000000;
    position: relative !important;
    animation: buff .9s forwards;
}
.buffa::after{
    animation: buff 1s forwards;
    font-family: Onest, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    content: 'Live';
    font-size: 10px;
    padding: 0px 5px;
    top: -13px;
    left: 3px;
    color: white;
    border-radius: 2px;
    background: #2f3e56 !important;
    outline: 1px solid #00000000;
    position: relative !important;
}

#app-cover {
    animation: ani .9s forwards;
    position: absolute;
    bottom: 50%;
    right: 0;
    left: 0;
    width: 430px;
    height: 120px;
    margin: -4px auto;
    z-index: -2000;
}

#bg-artwork {
    transition: 0.4s all;
    animation: bg .9s forwards;
    position: fixed;
    top: -0px;
    right: -0px;
    bottom: -0px;
    left: -0px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    /* width: 100%; */
    height: 100%;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    background-position: 50%;
    filter: blur(2vh);
    -webkit-filter: blur(2vh);
    width: device-width;
    z-index: -3;
    pointer-events: none;
}
#bg-layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    opacity: calc(.5);
    z-index: 2;
}

#player {
    position: relative;
    height: 0%;
    z-index: 3;
}

#player-track {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    line-height: 23px;
    left: 166px;
    padding: 15px 0px 0px 13px;
    background: #141c24;
    border: #2c3a50 solid 1px;
    border-radius: 3px;
    transition: 0.5s ease top;
    box-shadow: none;
    z-index: 1;
    height: 60px;
}

#player-track.active {
    top: -18px;
    box-shadow: 0 0px 10px 0px #000000;
}
#idfm {
    font-family: Onest, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    color: #c9e74e !important;
    position: absolute;
    width: 30px;
    text-align: center;
    background: #33333370;
    box-shadow: 0 0 10px 0px #33333370;
    /* border: #364758 1px solid; */
    bottom: 5px;
    right: 5px;
    line-height: 1;
    font-size: 10px;
    font-weight: 700;
    padding: 3px 0px;
    /* padding-top: 2px; */
    border-radius: 2px;
    z-index: 1000;
    /* box-shadow: 0 0px 10px 0px #000000; */
}
#album-name {
    font-family: Onest, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    top: 15px;
    left: 90px;
    font-size: 23px;
    position: absolute;
    color: #53fbc9;
    /* font-size: 22px; */
    /* font-weight: 700; */
    transition: 0.3s ease top;
    font-weight: bold;
    animation: topToBottom 25s infinite 20s;
}
#track-name {
    font-family: Onest, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    background: #00000070;
    top: 15px;
    left: 90px;
    top: 45px;
    position: absolute;
    color: #ff9de1;
    position: absolute;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
    border-radius: 3px;
    padding: 1px 6px;
    margin: 0px 0 13px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#track-name::before{
    content: "Играет ➔ ";
    color: #76a2e0;
}

#album-art, #album-arts {
    animation: art .5s forwards;
    position: absolute;
    top: 10px;
    left: -30px;
    width: 70px;
    height: 70px;
    margin-left: 40px;
    transform: rotateZ(0);
    transition: 0.2s linear all;
    /* box-shadow: 0 0px 40px 0px #141c24; */
    border: 1px solid #111;
    background: #0c1116;
    border-radius: 5px;
    /* transform: scale(0.7); */
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#album-art-bg, #album-arts-bg {
    animation: buff 1s forwards;
    filter: blur(60px) saturate(5) contrast(100%);
    /* backdrop-filter: blur(30px); */
    position: absolute;
    /* border-radius: 10px; */
    /* animation: art .9s forwards; */
    position: absolute;
    top: 10px;
    left: -30px;
    width: 70px;
    height: 70px;
    margin-left: 40px;
    transform: rotateZ(0);
    transition: 0.3s linear all;
    border: #2c3a50 solid 1px;
    background: #0c1116;
    border-radius: 5px;
    /* transform: scale(0.7); */
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* #album-art.active, #album-arts.active {
    transform: scale(1.0);
    top: -69px;
    border-radius: 3px;
    background: #10161d;
    box-shadow: 0 0px 20px 0px #ffffff;
    border: 1px solid #ffffff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */
/* 
#album-art img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}

#album-art img.active {
    opacity: 1;
    z-index: 1100;
} */


@-webkit-keyframes rotateAlbumArt {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes rotateAlbumArt {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

#buffer-box {
    position: absolute;
    bottom: 14px;
    right: 0px;
    left: 0px;
    color: #ffffff;
    font-size: 16px;
    font-family: calibri;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: 2px;
    margin: -14px auto 0 auto;
    opacity: 1;
    z-index: 2;
    transition: 0.3s linear all;
}

#album-art.buffering img {
    opacity: 0;
}

#album-art.buffering img.active {
    opacity: .3;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

#album-art.buffering #buffer-box {
    opacity: 1;
}

.button,
.button i {
    transition: 0.3s ease all;
    text-shadow: 0px 0px 5px rgb(43, 43, 43);
}

.button:hover {
    /* box-shadow: 2px 2px 1px #0e141a; */
    box-shadow: 1px 1px 1px #0e141a;
    background-color: #354661;
}

.button:hover i {
    color: rgb(255, 255, 255);
    transform: scale(1.2);
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}



@keyframes ar {
    0%   {
        top: 72px;
        /* box-shadow: none; */
    }
    50%   {
        top: 72px;
        /* box-shadow: none; */
    }
    100% {
        top: 124px;
    }
}
@keyframes arr {
    0%   {
        box-shadow: none;
        /* box-shadow: none; */
    }
    100% {
        box-shadow: 0 0px 10px 0px #000000;
    }
}

.addbuttonn {
    /* animation: ar 0.9s forwards; */
    position: absolute;
    top: 109px;
    /* bottom: 9px; */
    left: 9px;
    /* z-index: -1000 !important; */
}
#box-play{
    overflow: hidden;
    height: 92px;
    width: calc(100% - 17px);
    position: absolute;
    background: #111111;
    /* border: 1px solid #fff; */
    margin: 9px;
    border: 1px solid #0f151b;
    border-radius: 3px;
}
.addbutton {
    /* position: absolute; */
    top: 90px;
    left: 5px;
    /* width: 1000px; */
    z-index: -1000;
}
#boz{
    transition: 0.3s ease all;
    font-family: Onest, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    /* background: #2c3a50; */
    color: #7f97bb;
    position: absolute;
    text-align: center;
    font-weight: 600;
    line-height: 20px;
    font-size: 12px;
    /* box-shadow: 4px 4px 3px #0e141a !important; */
    /* border: #2c3a50 solid 1px; */
    /* border-top: 1px solid #384d6b; */
    /* border-left: 1px solid #384d6b; */
    border-radius: 2px;
    transition: 0.2s all;
    z-index: 10;
    cursor: pointer;
    
    color: #7f97bb;
    border-radius: 2px;
    height: 28px;
    width: 159px;
    top: 161px;
    left: 9px;
    text-align: center;
    background: #0f151b;
    /* border: 1px solid #2c3a50; */
}
#item1, #item2{
    transition: 0.3s ease all;
    /* animation: arr .9s forwards; */
    /* font-family: 'Quicksand', "Comfortaa"; */
    font-family: Onest, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    background: #2c3a50;
    color: #7f97bb;
    position: relative;
    width: 159px;
    text-align: center;
    top: -0px;
    left: 0px;
    /* height: 25px; */
    height: 46px;
    font-weight: 600;
    line-height: 33px;
    font-size: 13px;
    /* box-shadow: 4px 4px 3px #0e141a !important; */
    /* border: #2c3a50 solid 1px; */
    /* border-top: 1px solid #384d6b; */
    /* border-left: 1px solid #384d6b; */
    border-radius: 2px;
    margin-right: 9px;
    transition: 0.2s all;
    z-index: 10;
    padding: 6px 0px;
    cursor: pointer;
}
#item1:hover, #item2:hover{
    /* box-shadow: 0 0px 3px 0px #000000; */
    box-shadow: 1px 1px 1px #0e141a !important;
    background: #354661;
    color: #ffffff;
}
.control {
    width: 33%;
    float: left;
    /* padding: 8px 0px; */
    right: -30px;
    top: 8px;
    left: 6px;
    position: relative;
    /* left: 7px; */
    /* position: relative; */
}

.button {
    width: 78px;
    height: 46px;
    /* float: right; */
    padding: 10px 0px;
    background-color: #2c3a50;
    /* box-shadow: 4px 4px 3px #0e141a;
    border-top: 1px solid #384d6b;
    border-left: 1px solid #384d6b; */
    border-radius: 2px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button i {
    display: block;
    color: #7d97bb;
    font-size: 25px;
    text-align: center;
    line-height: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#player-controls {
    width: 260px;
    height: 100%;
    position: relative;
    top: 101px;
    margin: 0 0px 0 148px;
    padding-right: 5px;
    float: right;
    overflow: hidden;
}
#player-content {
    position: relative;
    height: 200px;
    top: -30px;
    background: #141c24;
    border: #2c3a50 solid 1px;
    box-shadow: 0 0px 20px 10px #00000070;
    border-radius: 3px;
    z-index: 2;
}
.range-input {
    height: 28px;
    width: 246px;
    /* animation: arr .9s forwards; */
    position: absolute;
    /* bottom: 50%; */
    /* margin-bottom: 0px; */
    top: 161px;
    /* bottom: 8px; */
    /* left: 173px; */
    right: 8px;
    /* transform: translate(-50%,-50%); */
    background: #2c3a50;
    /* border: #354657 solid 1px; */
    border: #2c3a50 solid 1px;
    padding: 0px 8px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    transition: 0.2s all;
    /* border-top: 1px solid #384d6b;
    border-left: 1px solid #384d6b; */
    /* box-shadow: 0 0px 10px 0px #000000; */
}
.range-input input {
    appearance: none;
    width: 182px;
    height: 8px;
    border-radius: 2px;
    background: #141c23;
    border: none;
    outline: none;
    /* box-shadow: 0px 0px 3px #0e141a; */
}
.range-input input::-webkit-slider-thumb {
    transition: 0.3s ease all;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: var(--bar_color_marker);
    /* box-shadow: 0 0px 30px 0px #141c24; */
    box-shadow: 0px 0px 3px #0e141a;
}
.range-input input::-webkit-slider-thumb:hover{
    background: var(--bar_color_marker_cur);
    box-shadow: 0 0px 20px 0px #ffffff;
}

.range-input .value {
    /* font-family: 'Manrope', sans-serif; */
    font-family: Onest, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #c9e74e;
    text-align: center;
    font-weight: 600;
    font-size: 10px;
    line-height: 16.5px;
    background: #1a2333;
    height: 16px;
    width: 35px;
    margin: 5px 0px;
    overflow: hidden;
    margin-left: 10px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px #0e141a;
}
/* #curs:active{
        pointer-events: none;
        background: var(--bar_color_marker_cur);
        box-shadow: 0 0px 20px 0px #ffffff;
    } */

.range-input .value div {
    transition: all 0ms ease-in-out;
}
.img{
    border-radius: 3px;
    margin: 10px;
}

#item2{
    display: none;
}





:root{
    --bar_color_marker: #7d97bb;
    --bar_color_marker_cur: #ffffff;
    --bar_color_start: #f50;
    --bar_color_end: rgb(26, 35, 51);
}